* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
@media (max-width: 970px) {
  #home {
    width: 100%;
    height: 100vh;
  }
  #about {
    width: 100%;
    height: 100vh;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .me {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }
  #home img {
    width: 50%;
  }
  .write {
    text-align: center;
  }
}
